a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13.5px;
    padding-top: 8px;
}

header {
    height: 30px;
}

a:hover {
    text-decoration: underline;
}

.topnav {
    /* padding-top: 10px; */
}

.navlink {
    float: left;
    padding-left: 15px;
}

.navlinkright {
    float: right;
    padding-right: 15px;
}

#appicon {
    display: block;
    height: 30px;
}

#usericon {
    display: block;
    height: 30px;
    border-radius: 50%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 170px;
    height: 92px;
    width: 272px;
}

#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 387px;
    height: 34px;
    font-size: 16px;
}

#searchcontainer {
    padding-top: 40px;
}